<%= stylesheet_link_tag "homepage" %>

<% unless @user %>
    <h1><%= @user.id %></h1>
<% else %>
    <div class="homepage">
      <a class="authorizeUrl" href="<%= @client.authorize_url %>">
        <%= image_tag 'click.gif', :class => "click" %>
      </a>
    </div>
<% end %>
