<div>
  <% @statuses.friends_timeline.statuses.each do |status| %>
      <% status.text %>
      <% if status.bmiddle_pic %>
          <% image_tag status.bmiddle_pic %>
      <% end %>
  <% end %>
</div>