<script src="http://d3js.org/d3.v3.min.js"></script>
<%= javascript_include_tag "friends" %>

<div class="link"></div>
<div class="node"></div>
<script>

    var width = 960,
            height = 500;
    var data = {
        "name": "flare",
            "children": [
        {
            "name": "analytics",
            "children": [
                {
                    "name": "cluster",
                    "children": [
                        {"name": "AgglomerativeCluster", "size": 3938},
                        {"name": "CommunityStructure", "size": 3812},
                        {"name": "HierarchicalCluster", "size": 6714},
                        {"name": "MergeEdge", "size": 743}
                    ]
                },
                {
                    "name": "graph",
                    "children": [
                        {"name": "BetweennessCentrality", "size": 3534},
                        {"name": "LinkDistance", "size": 5731},
                        {"name": "MaxFlowMinCut", "size": 7840},
                        {"name": "ShortestPaths", "size": 5914},
                        {"name": "SpanningTree", "size": 3416}
                    ]
                },
                {
                    "name": "optimization",
                    "children": [
                        {"name": "AspectRatioBanker", "size": 7074}
                    ]
                }
            ]
        }
    ]
    }

    var force = d3.layout.force()
            .linkDistance(80)
            .charge(-120)
            .gravity(.05)
            .size([width, height])
            .on("tick", tick);
    var svg = d3.select("body").append("svg")
            .attr("width", width)
            .attr("height", height);

    var link = svg.selectAll(".link"),
            node = svg.selectAll(".node");

    debugger;
    update(data);
</script>

<style>
    .node circle {
        cursor: pointer;
        stroke: #3182bd;
        stroke-width: 1px;
    }

    .node text {
        font: 10px sans-serif;
        pointer-events: none;
        text-anchor: middle;
    }

</style>