<!DOCTYPE html>
<html>
<head>
  <script src="http://tjs.sjs.sinajs.cn/t35/apps/opent/js/frames/client.js" language="JavaScript"></script>
  <title>SN</title>
</head>
<body>

<%= yield %>

</body>
</html>
